/* @override http://www.css3-buttonbuilder.help/css/help-styles.css */

body {
	font-family: "Lucida Grande";
	font-size: 11px;
	line-height: 16px;
	margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 18px;
}

.main-title {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 25px 20px 25px 70px;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/Icon-48.png) no-repeat 10px center, -webkit-linear-gradient(top, #fff 0%, #eee 100%);
}

.button {
    height: 28px;
    padding: 0 24px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,1);
    font: normal 11px/28px "Lucida Grande";
    text-shadow: rgba(255,255,255,1) 0px 1px 0px;
    border: none;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-image: -webkit-linear-gradient(top, #f7f8f8 0%,#bfc0c4 50%,#b3b4b8 50%,#b3b4b8 100%);
    background-image: linear-gradient(top, #f7f8f8 0%,#bfc0c4 50%,#b3b4b8 50%,#b3b4b8 100%);
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px 0px, inset rgba(255,255,255,0.5) 0px 2px 1px 0px;
}

.section {
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: inset 0 0 10px #ccc;
	margin-bottom: 40px;
}
a:link, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

p {
	color: #666;
	margin-bottom: 10px;
}

.inline-img {
	vertical-align: middle;
}

#main-menu {
	margin-top: 40px;
	padding-left: 0;
	width: 162px;
	border-top: 1px solid #aeacac;
	border-bottom: 1px solid #aeacac;
	position: relative;
}

#main-menu>li {
	border-bottom: 1px solid #dcdcdc;
}

#main-menu>li:last-child {
	border-bottom: none;
}

#main-menu>li>a {
	color: #878787;
	display: block;
	line-height: 27px;
	padding-left: 10px;
	font-size: 11px;
	background: url(../images/menu-arrow.png) no-repeat 145px center;
}

#main-menu>li>a.active {
	color: #000;
	background: url(../images/menu-arrow.png) no-repeat 145px center, -webkit-linear-gradient(right, #59a2d7 0%, #fff 90%);
}

#main-menu>li>a.active:hover {
	text-decoration: none;
}

#main-menu li ul {
	display: none;
	position: absolute;
	left: 150px;
	top: 2px;
	width: 300px;;
}

#main-menu ul li {
	line-height: 26px;
}

ul li {
	font-size: 12px;
	line-height: 21px;
	list-style-type: none;
}

ol li {
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 10px;
}

.list-image {
	margin: 20px 0;
}


table td {
	padding: 0 20px 5px 0;
	font-size: 12px;
}

table td:nth-child(2) {
	font-weight: bold;
}

a.quick-link {
	display: inline-block;
	width: 12px;
	line-height: 12px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../images/menu-arrow.png) no-repeat center center;
}

.app-window {
	max-width: 513px;
}

dt {
	font-size: 14px;
	color: #929292;
	margin-bottom: 5px;
}

dt b {
	background-color: red;
	color: white;
	width: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
}

dd {
	margin-bottom: 15px;
	margin-left: 20px;
}